{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

{{ if .Site.Params.showAuthorOnHomepage }}
{{ partial "author-large.html" . }}
{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Nunito:wght@500;800&display=swap"
  rel="stylesheet">

<div class="intro">
  <h4>Coming Soon</h4>
  <h1 style="font-family: 'Bungee Shade', cursive;
">{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{
    end
    }}</h1>
  <div class="intro-content">{{ .Content }}</div>
  <!-- <h3 style="color:#4EDE77h;">The easiest place to find and post local jobs.</h3> -->
</div>

{{ if .Site.Params.showPostsOnHomepage }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
{{ range $paginator.Pages }}
{{ .Render "summary" }}
{{ end }}
{{ template "_internal/pagination.html" . }}
{{ end }}

{{ end }}
{{ define "footer_js" }}
{{ end }}